<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">F8 COURSES</a>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">
          <img src="https://image.thanhnien.vn/w2048/Uploaded/2022/ycivopcg/2022_01_13/cau-trang-tien-2144.jpg" alt=""
            class="user-avatar">
          Tri Nguyễn
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/courses/create">Đăng Khóa Học</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/me/stored/courses">Khóa Học Của Tôi</a>
          <a class="dropdown-item" href="/me/stored/news">Tin Tức Của Tôi</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Đăng Xuất</a>
        </div>
      </li>
    </ul>
  </div>
</nav>